.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
.btn-google {
  background-color: rgba(6, 99, 175, 0.911);
  &:hover {
    background-color: rgba(47, 154, 241, 0.911);
    color: rgb(246, 246, 246);
    border: 1px solid black;
  }
}
